In [115]:
import pandas as pd
## tutorial: https://www.youtube.com/watch?v=F6kmIpWWEdU

Intro:

In [116]:
## CREATING DATAFRAME WITH READ_CSV:
df = pd.read_csv("data_frame_vaje/b_weather_data.txt")

In [117]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [118]:
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [119]:
## CREATING DATAFRAME WITH DICTIONARY:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [120]:
## PRINTING SHAPE OF DF:
df.shape

(6, 4)

In [121]:
rows, columns = df.shape

In [122]:
rows

6

In [123]:
columns

4

In [124]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [125]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [126]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [127]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [128]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [129]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [130]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [131]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [132]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [133]:
df['day'] # the same as above

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [134]:
type(df['day'])

pandas.core.series.Series

In [135]:
df[['event','day','day']]

   event       day       day
0   Rain  1/1/2017  1/1/2017
1  Sunny  1/2/2017  1/2/2017
2   Snow  1/3/2017  1/3/2017
3   Snow  1/4/2017  1/4/2017
4   Rain  1/5/2017  1/5/2017
5  Sunny  1/6/2017  1/6/2017

Operations:

In [136]:
df['temperature'].max()

35

In [137]:
df['temperature'].mean()

30.333333333333332

In [138]:
df['temperature'].std()

3.8297084310253524

In [139]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [140]:
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [141]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [142]:
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [143]:
df['day'][df.temperature == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [144]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [145]:
## other operations: https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [146]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [147]:
## index nam setta kot day:
nek = df.set_index('day')

In [148]:
nek

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [149]:
df.set_index('temperature', inplace=True)

In [150]:
df

                  day  windspeed  event
temperature
32           1/1/2017          6   Rain
35           1/2/2017          7  Sunny
28           1/3/2017          2   Snow
24           1/4/2017          7   Snow
32           1/5/2017          4   Rain
31           1/6/2017          2  Sunny

In [151]:
df.loc[31]

day          1/6/2017
windspeed           2
event           Sunny
Name: 31, dtype: object

In [152]:
df.reset_index(inplace=True) ## reseta tabelo na prej≈°nje indexe

In [153]:
df

   temperature       day  windspeed  event
0           32  1/1/2017          6   Rain
1           35  1/2/2017          7  Sunny
2           28  1/3/2017          2   Snow
3           24  1/4/2017          7   Snow
4           32  1/5/2017          4   Rain
5           31  1/6/2017          2  Sunny